/* Device Tree Overlay for STM32H7A3ZI-Q Nucleo */

/ {
	chosen {
		zephyr,console = &usart3;
	};
};

/* I2C1: BMI270 (0x68) + MLX90393 (0x0C) */
&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
	pinctrl-names = "default";
};

/* USART3: NEO-6M GPS (9600 baud) */
&usart3 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
	pinctrl-names = "default";
};

/* USB: micro-ROS CDC transport */
&usbotg_fs {
	status = "okay";
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
};

/* FDCAN1: ESP32 LoRa CAN bridge (500kbps) */
&fdcan1 {
	status = "okay";
	bus-speed = <500000>;
	pinctrl-0 = <&fdcan1_rx_pd0 &fdcan1_tx_pd1>;
	pinctrl-names = "default";
};

/* TIM1: Azimuth Hall Encoder (CH1=PE9, CH2=PE11) */
&timers1 {
	status = "okay";
	st,prescaler = <0>;

	encoder_az: encoder_az {
		compatible = "st,stm32-timer-counter";
		status = "okay";
	};
};

/* TIM8: Elevation Hall Encoder (CH1=PC6, CH2=PC7) */
&timers8 {
	status = "okay";
	st,prescaler = <0>;

	encoder_el: encoder_el {
		compatible = "st,stm32-timer-counter";
		status = "okay";
	};
};

/* Motor Control GPIOs */
/ {
	motor_pins {
		compatible = "gpio-leds";

		az_dir: az_dir {
			gpios = <&gpioe 13 GPIO_ACTIVE_HIGH>;
			label = "AZ_DIR";
		};

		el_dir: el_dir {
			gpios = <&gpioe 14 GPIO_ACTIVE_HIGH>;
			label = "EL_DIR";
		};

		az_en: az_en {
			gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
			label = "AZ_EN";
		};

		el_en: el_en {
			gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
			label = "EL_EN";
		};
	};
};

/* PWM for TB6600 step pulse */
&timers3 {
	status = "okay";
	st,prescaler = <279>;

	pwm_az: pwm {
		compatible = "st,stm32-pwm";
		status = "okay";
		#pwm-cells = <3>;
		pinctrl-0 = <&tim3_ch1_pa6>;
		pinctrl-names = "default";
	};
};

&timers4 {
	status = "okay";
	st,prescaler = <279>;

	pwm_el: pwm {
		compatible = "st,stm32-pwm";
		status = "okay";
		#pwm-cells = <3>;
		pinctrl-0 = <&tim4_ch1_pb6>;
		pinctrl-names = "default";
	};
};
