CompileFlags:
  # Zephyr firmware은 west build로만 빌드 - 호스트 clang 분석 비활성화
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m7
    - -mthumb
    - -DCONFIG_BOARD_NUCLEO_H7A3ZI_Q=1
    - -I/opt/zephyr-sdk/arm-zephyr-eabi/arm-zephyr-eabi/include
  Remove:
    - -W*

Diagnostics:
  Suppress:
    - pp_file_not_found
    - undeclared_var_use
    - unknown_typename
    - pp_include_next_in_primary
